@{
    ViewData["Title"] = "Miembros";
}

<style>
    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #108d6f;
        border-color: #108d6f;
        box-shadow: none;
        outline: none;
    }

    .btn-primary {
        color: #fff;
        background-color: #007b5e;
        border-color: #007b5e;
    }

    section {
        padding: 60px 0;
    }

    section .section-title {
        text-align: center;
        color: #007b5e;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

    .image-flip:hover .backside,
    .image-flip.hover .backside {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        border-radius: .25rem;
    }

    .frontside {
        position: relative;
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        z-index: 2;
        margin-bottom: 30px;
    }

    .frontside .card {
        min-height: 312px;
    }

    .frontside .card .card-title {
        color: #007b5e !important;
    }
</style>

<section class="pb-5">
    <div>
        <h5 style="color: white;" class="section-title h1">GRUPO #3</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/JossyDevers.jpg" alt="card image"></p>
                                    <h4 class="card-title mt-4">Jossy Devers</h4>
                                    <p class="card-text">20190032</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/IGNACIO.jpg" alt="card image"></p>
                                    <h4 class="card-title mt-4">Ignacio Martínez</h4>
                                    <p class="card-text">20181935</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/MANUELTAVAREZ.jpg" alt="card image"></p>
                                    <h4 class="card-title mt-4">Manuel Tavarez</h4>
                                    <p class="card-text">20181290</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/arysleini.jpg" alt="card image"></p>
                                    <h4 class="card-title mt-4">Arisleyini Casilla</h4>
                                    <p class="card-text">20191092</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/omi.jpg" alt="card image"></p>
                                    <h4 class="card-title mt-4">Omi Mercedes</h4>
                                    <p class="card-text">20170781</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
        </div>
    </div>
</section>

<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6" onclick="window.location = '/home/principal'">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-arrow-left"></i>
                </span>
                <h4>
                    <strong>Volver atrás</strong>
                </h4>
            </div>
        </div>
    </div>
</section>
<!-- Team -->